[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
asgiref = "*"
black = "*"
flake8 = "*"
flake8-import-order = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
ipython = "*"
pdoc = "*"
httpx = "*"
httptools = "*"
h11 = "*"
wsproto = "*"
coverage = "*"

[requires]
python_version = "3.10"
