[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httptools = "*"
asgiref = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-import-order = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
ipython = "*"
pdoc = "*"

[requires]
python_version = "3.10"
